{% extends "home/base_index.html" %}
{% block title %} Hearcloud {% endblock %}

{% block content_block %}
{% include "header.html" %}
{% if user.is_authenticated %}
<div class="container-fluid">
<div class="page-start">
    <div class="page-header">
        <h1>¡Hola {{ user.username|capfirst }}!</h1>
    </div>
</div>
</div>
{% else %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">HEARCLOUD.</h1>
        <p class="lead">Bienvenido a HEARCLOUD, aquí podrás organizar tu música directamente, sin instalar ningún programa adicional.</p>
        <p>¡<a href="{% url 'users_app:register' %}" role="button">Registrate</a> y empieza a organizar tu música ahora!</p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Programado por <a href="http://github.com/mpvillafranca">@mpvillafranca</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content_block %}
