{% extends 'base.html' %}

{% block title %} Hearcloud {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<a href="/admin/logout/">Log out</a>
{% else %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">HearCloud</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="#">Ayuda</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">HearCloud.</h1>
        <p class="lead">Manage your music directly. No programs. No installations.<br>No problems.</p>
        <p class="lead">
          <a href="users/signup" class="btn btn-lg btn-default">Sign Up</a>
          <a href="users/signin" class="btn btn-lg btn-default">Sign In</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Programmed by <a href="http://github.com/mpvillafranca">@mpvillafranca</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>
{% endif %}
{% endblock %}
