{% extends 'base.html' %}

{% block title %} Hearcloud {% endblock %}

{% block content %}
<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Sign up</h2>
	<p>
		<a href="{% url 'social:begin' 'facebook' %}" type="button" class="btn btn-primary btn-lg btn-lg-customize-fb"><span class="icon-facebook"></span>Facebook</a>
		<!--<a href="{% url 'social:begin' 'twitter' %}" type="button" class="btn btn-primary btn-lg btn-lg-customize-tw"><span class="icon-twitter"></span>Twitter</a>-->
	</p>
	<div class="social-sign-in-separator sc-font-light sc-text-light">
		<span>or</span>
	</div>
    <label for="inputEmail" class="form-left-label">What’s your email address?</label>
    <input type="email" id="inputEmail" class="form-control" required="" autofocus="">
    <label for="inputPassword" class="form-left-label">Choose a password</label>
    <input type="password" id="inputPassword" class="form-control" required="">
	<label for="inputPassword" class="form-left-label">Re-type password</label>
    <input type="password" id="inputPassword" class="form-control" required="">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> I agree to the Terms of Use and Privacy Policy
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>
</div> <!-- /container -->
{% endblock %}
